<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" lang="ru"
      layout:decorate="~{/lk_layout.html}">
<head>
    <title>Page name</title>
    <script>
        function sortByHeader(param, curHeader, isAsc) {
            let isAscNow = (param === curHeader && isAsc === "true") ? "false" : "true";
            window.location.href = `/employees?limit=8&offset=0&sortParam=${param}&isAsc=${isAscNow}`
        }
    </script>
</head>
<body>
<section layout:fragment="content">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Сотрудники</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table">
                            <thead class="thead-primary">
                            <tr>
                                <th
                                        th:each="tableProperty: ${tableProperties}"
                                        th:text="${tableProperty.ruName}"
                                        th:attr="onclick=|sortByHeader('${tableProperty.enName}', '${properties.sortParam}', '${properties.isAsc}')|"
                                        style="cursor: pointer"
                                >
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--/*@thymesVar id="employees" type="com.mktech.twistanalytics.db.entities.Employee.EmployeeWoPsw"*/-->
                            <tr th:each="employee: ${employees}">
                                <th scope="row" th:text="${employee.id}">-</th>
                                <td th:text="${employee.name}">-</td>
                                <td th:text="${employee.surname}">-</td>
                                <td th:text="${employee.email}">-</td>
                                <td th:text="${employee.phone}">-</td>
                                <td>Босс</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
</body>
</html>
